@model OfficeSupply.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Variety)
        </dt>
        <dd style="width:70px; background-color:
            @Model.Variety
            ">
            @Html.DisplayFor(model => model.Variety)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemImage)
        </dt>
        <dd>
            <img style="object-fit : contain" src="~/Images/@Html.DisplayFor(model => model.ItemImage)" />
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
